<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://helpngowebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>helpngowebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HelpnGoWebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HelpnGoWebApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="bd_helpngoEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=br-cdbr-azure-south-a.cloudapp.net;Initial Catalog=bd_helpngo;User ID=b33a657d521577;Password=14a87741" Name="server=br-cdbr-azure-south-a.cloudapp.net;user id=b33a657d521577;password=14a87741;database=bd_helpngo" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApiHelpnGo.Models.bd_helpngoEntities, WebApiHelpnGo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)bd_helpngoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelHelpnGo.csdl|res://*/Models.ModelHelpnGo.ssdl|res://*/Models.ModelHelpnGo.msl;provider=MySql.Data.MySqlClient;provider connection string="server=br-cdbr-azure-south-a.cloudapp.net;user id=b33a657d521577;password=14a87741;database=bd_helpngo"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>